
.bongousse-container{
    text-align: center;
    opacity: 1;
    transition: 1s;
}
.introduce-area{
    padding-bottom: 20px;
}
.introduce-area h3{
    padding: 10px 0px;
}
.introduce-area h1{
    padding: 10px 0px;
}
.introduce-area p{
    padding: 10px 0px;
}
.bongousse-area{
    margin: 40px 0px;
}
.bongousse-area img{
    padding: 10px 0px;
}
.bongousse-area p{
    color: #aaa;
}
.bongousse-area p strong{
    color: #999;
    font-size: 1.2em;
}
.gallery_list{
    width: 100%;
    height: 300px;
    /* border: 1px solid red; */
    padding: 20px;
}
.gallery_list li{
    width: 23%;
    float: left;
    margin: 10px;
}
.gallery_list_box{
    height: 250px;
    box-shadow: 5px 5px 10px #ccc;
    padding: 40px 0px;
}
.gallery_list_box_title{
    color: #FFC409;
    font-size: 1.5em;
    padding: 10px 0px;
}
.gallery_list_box_title b{
    color: black;
    font-size: 1em;
}
.gallery_list_box_text{
    padding: 10px;
}

@media screen and (max-width : 1024px) {
    .gallery_list{
        width: 100%;
        height: 600px;
        /* border: 1px solid red; */
        padding: 20px;
    }
    .gallery_list li{
        display: inline;
        width: 45%;
        margin: 10px;
    }
}

@media screen and (max-width : 768px) {
    .gallery_list{
        width: 100%;
        height: 600px;
        /* border: 1px solid red; */
        padding: 20px;
        text-align: center;
    }
    .gallery_list li{
        display: inline-block;
        width: 100%;
        margin: 0;
    }

    .bongousse-area{
        margin: 40px 0px;
    }
    .bongousse-area img{
        padding: 10px 0px;
    }
    .bongousse-area p{
        font-size: 0.5em;
        color: #aaa;
    }
    .bongousse-area p strong{
        color: #999;
        font-size: 1em;
    }
}

@media screen and (max-width : 425px) {
    .gallery_list{
        width: 100%;
        height: 600px;
        /* border: 1px solid red; */
        padding: 20px;
        text-align: center;
    }
    .gallery_list li{
        display: inline-block;
        width: 100%;
        margin: 0;
    }

    .bongousse-area{
        margin: 40px 0px;
    }
    .bongousse-area img{
        padding: 10px 0px;
    }
    .bongousse-area p{
        font-size: 0.5em;
        color: #aaa;
    }
    .bongousse-area p strong{
        color: #999;
        font-size: 1em;
    }
}