.compliment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.compliment-container td{
    padding: 10px 0px;
}

.comliment-button{
    background: none;
    width: 200px;
    height: 50px;
    margin-bottom: 100px;
}
