.footer {
    width: 100vw;
    height: 350px;
    background-color: #000;
    font-family: 'Jua', sans-serif;
}

.footer-container {
    display: flex;
    position: relative;
}

.first-area {
    width: 100%;
    color: white;
}

.img-area {
    padding: 30px 0px;
}

.first-area .footerLogo {
    width: 100px;
    height: 100px;
}

.snsBtnStyle {
    width: 40px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    margin-left: 20px;
}

.snsBtnStyle:hover {
    background-color: #FFC409;
    ;
}

.text-area {
    color: #ccc;
}

.text-area h6 {
    color: #eee;
    font-weight: bold;
}

.second-area {
    height: 100px;
    position: absolute;
    bottom: 50px;
    right: 100px;
    color: #ccc;
    display: grid;
    grid-template-columns: 250px 220px 0px;
    grid-template-rows: 60px 50px 50px;
}

.clickBtn {
    display:inline-block;
    cursor: pointer;
    padding: 10px 0px;
}

.clickBtn:hover {
    text-decoration: underline;
}

.box {
    width: 300px;
    display: flex;
}

.box img {
    height: 50px;
    margin-right: 20px;
}

/* 모달 */
.footer-modal-bg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
}

.footer-modal-bg.active {
    opacity: 1;
    z-index: 999;
}

.footer-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 500px;
    height: 300px;
    box-shadow: -5px 5px 10px #111;
}


.footer-modal h5 {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.footer-modal p {
    padding: 15px;
}


/* 모달 클로즈 버튼 */
.border {
    width: 200px;
    height: 50px;
    border-top: 10px solid black;
}

.close-button {
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}

@media screen and (max-width : 1024px) {
    .footer {
        width: 100vw;
        height: 500px;
        background-color: #000;
        font-family: 'Jua', sans-serif;
    }
    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .first-area {
        width: 100%;
        color: white;
    }

    .second-area {
        width: 100%;
        height: 100px;
        position:unset;
        color: #ccc;
        display: grid;
        grid-template-columns: 250px 220px 0px;
        grid-template-rows: 60px 50px 50px;
    }

    .box {
        width: 200px;
        display: flex;
    }
    
    .box p {
        font-size: 13px;
    }
    
}

@media screen and (max-width : 425px) {
    .text-area h6 {
        color: #eee;
        font-weight: bold;
        font-size: 15px;
    }
    .text-area p{
        font-size: 10px;
    }

    .second-area {
        position: unset;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* border: 1px solid red; */
    }

    .box {
        /* border: 1px solid red; */
        width: 180px;
        display: flex;
    }
    .box img {
        height: 40px;
        margin-right: 20px;
    }
    .box p {
        font-size: 13px;
    }
    
    .footer-modal {
        width: 300px;
        height: 300px;
    }
    
    
    .footer-modal h5 {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    .footer-modal p {
        padding: 6px;
    }
}