/* ----------------Navbar.js------------------------------------- */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    position: relative;
    font-family: 'Jua', sans-serif;

}
.navbar{
    width: 100vw;
    height: 150px;
    background-color: white;
    transition: all 0.5s;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
.navbar.active{
    background-color: rgba(255, 196, 9, 0.4);
    height: 300px;
}
.logo{
    position: absolute;
    top: 20px;
    left: 2%;
    width: 100px;
    z-index: 100;
}
.snsBtn{
    position: absolute;
    top: 55px;
    right: 22px;
    width: 200px;
    /* border: 1px solid red; */
}
.snsBtn img{
    width: 40px;
    margin-right: 10px;
    border-radius: 100%;

    cursor: pointer;
}
.snsBtn img:hover{
    background-color: #FFC409;
}
.topMenu{
    position: absolute;
    top: 20px;
    left: 400px;
    height: 50px;
    width: 900px;
}
.mainNav > .link-style{
    float: left;
    width: 200px;
    height: 100px;
    text-align: center;
    position: relative;
    transition: all 0.4s;
    padding: 35px 0px;

    font-size: 25px;
    font-family: 'Jua', sans-serif;
    font-weight: bold;
    display: inline-block;
    z-index: 1;
    transition: all 0.5s;
}

.mainNav > .link-style:hover{
    height: 280px;
    background-color: white;
}
.subMenu{
    width: 100%;
    position: absolute;
    top: 40px;
    left: -15px;
    opacity: 0;
    transition: all 0.5s ease-in;
}
.subMenu.active{
    top: 100px;
    opacity: 1;
}
.subMenu li{
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}
.mobile-menu{
   opacity: 0;
}
.faBars, .faX{
    display: none;
}



@media screen and (max-width : 1440px) {
    .topMenu{
        position: absolute;
        top: 20px;
        left: 200px;
        height: 50px;
        width: 900px;
    }
}

@media screen and (max-width : 1024px){
    .topMenu{
       display: none;
    }
    .mobile-menu{
        position: absolute;
        top: -2000px;
        right: 0px;
        width: 400px;
        height: 2430px;
        background-color: #FFC409;
        /* display: none; */
        transition: all 1s;
    }
    .mobile-menu.active{
        z-index: 1;
        opacity: 1;
        top: 0px;

    }
    .faX{
        position: absolute;
        font-size: 30px;
        right: 100px;
        /* display: block; */
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        transition: all 1s;
    }
    .faX.active{
        position: absolute;
        font-size: 30px;
        right: 100px;
        display: block;
        z-index: 2;
        opacity: 1;
    }
    .faBars{
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
        transition: 0.1s;

    }
    .faBars.active{
        opacity: 0;
    }
    .mobile-menu-ul{
        padding: 150px 50px;
    }
    .mobile-menu-li{
        /* border: 1px solid red; */
        font-size: 30px;
        padding: 5px;
        cursor: pointer;
    }
    .mobile-submenu-ul{
        display: none;
    }
    .mobile-submenu-ul.active{
        display: block;
    }
}
@media screen and (max-width : 768px) {
    .snsBtn{
        position: absolute;
        top: 55px;
        right: 0px;
        width: 150px;
        /* border: 1px solid red; */
    }
    .faX{
        position: absolute;
        font-size: 30px;
        right: 0px;
        /* display: block; */
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        transition: all 1s;
    }
    .faX.active{
        position: absolute;
        font-size: 30px;
        right: 25px;
        display: block;
        z-index: 2;
        opacity: 1;
    }
}
@media screen and (max-width : 425px) {
    .snsBtn{
        position: absolute;
        top: 55px;
        right: 0px;
        width: 150px;
        /* border: 1px solid red; */
    }
    .faX{
        position: absolute;
        font-size: 30px;
        right: 30px;
        /* display: block; */
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        transition: all 1s;
    }
    .faX.active{
        position: absolute;
        font-size: 30px;
        right: 30px;
        display: block;
        z-index: 2;
        opacity: 1;
    }
}