.section1, .section2, .section3{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: relative;
}
.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section1-text{
    margin-top: 100px;
}
.section1-text h1{
    margin-bottom: 50px;
}
.section-video{
    width: 1000px;
    height: 500px;
}
.section2{
    background-color: #FFC409;
}
.section3{
    background-color: white;
}
.section2 .img1, .img2{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 400px;
    opacity: 0;
    transition: all 1s ease-in;
}
.section2 .img1.active{
    opacity: 1;
    left: 15%;
}
.section2 .img2{
    top: 200px;
    left: 0px;
    transition: all 2s ease-in;

}
.section2 .img2.active{
    opacity: 1;
    left: 22%;
}

.section2 .textArea{
    position: absolute;
    top: 250px;
    right: 22%;
    font-family: 'Jua', sans-serif;
    opacity: 0;
    transition: all 1s ease-in;
}
.section2 .textArea.active{
    opacity: 1;
}
.section2 .textArea .bottomLine{
    background: linear-gradient(to top, #ffffff 50%, transparent 50%);
    background-size: 0px;
    transition: all 1s linear;
}
/* 메뉴더보기 버튼 */
.menuBtn{
    width: 200px;
    height: 50px;

    border: none;
    transition: all 0.5s;
}
.menuBtn:hover{
    transform: scale(1.1);
    background-color: #ede4c8;
}

/* 위로가기 버튼 */
.topBtn {
    position: fixed; 
    opacity: 0; 
    bottom: 40px; 
    right: 40px;
    z-index: -10; 
    width: 50px; 
    height: 50px;
    border-radius: 100%;
    border: 0 none;
    background: #FFC409;
    color: blueviolet;
    border: 2px solid blueviolet;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.06em;
    box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: opacity 0.3s ease-in;
  }

  .topBtn.active {
    z-index: 10; 
    opacity: 1; 
  }


  @media screen and (max-width : 1024px){
    .section1{
        z-index: -1;
    }
    .video-area{
        width: 400px;
        height: 300px;
    }
    .section-video{
        width: 100%;
        height: 300px;
    }

    .section2 .img1, .img2{
        position: absolute;
        top: 200px;
        width: 200px;
    }
    .section2 .img1.active{
        left: 10%;
    }
    .section2 .img2{
        top: 300px;
    }
    .section2 .img2.active{
        left: 15%;
    }
    .section2 .textArea{
        right: 15%;
    }
  }

  @media screen and (max-width : 425px) {
    .section1, .section2, .section3{
        width: 100vw;
        height: 750px;
        background-color: white;
        position: relative;
    }
    .section2{
        background-color: #FFC409;
    }
       
    .video-area{
        width: 100vw;
        height: 300px;
    }
    .section1{
        display: block;
        text-align: center;
        padding: 20px 0px;
    }
    .section2 .img1, .img2{
        position: absolute;
        top: 100px;
        width: 200px;
    }
    .section2 .img1.active{
        left: 25%;
    }
    .section2 .img2{
        top: 170px;
    }
    .section2 .img2.active{
        left: 35%;
    }
    .section2 .textArea{
        position: absolute;
        top: 400px;
        right: 10%;
        font-family: 'Jua', sans-serif;
        opacity: 0;
        transition: all 1s ease-in;
    }
  }