.first-box ,.second-box{
    display: flex;
    justify-content: space-around;
}
.circle-area{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.circle-icon , .circle-icon-black{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #FFC409;
    color: #FFC409;
    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.circle-icon-black{
    border: 6px solid #222;
    font-size: 1.5em;
    color: #222;
}
.circle-icon-black img{
    width: 100%;
}
.text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-icon{
    text-align: center;
    font-size: 8em;
    border: 6px solid #222;
    border-radius: 50%;

    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.text{
    text-align: center;
    margin-bottom: 50px;

}
.StartUp-table{
    width: 500px;
    /* border: 1px solid #ccc; */
    padding: 25px;
    text-align: center;
    margin-bottom: 50px;
}
.StartUp-table td{
    border: none;
}
.input-style{
    width: 300px;
}

.one-select{
    width: 150px;
    margin-right: 5px;
}
#modal{
    width: 150px;
}

.StartUpInquiry-button{
    width: 200px;
    height: 50px;
    background: none;
    color: #111;
    border:1px solid #111;
    margin-bottom: 100px;
}




@media screen and (max-width : 1024px) {
    .circle-area{
        /* border: 1px solid red; */
        height: 200px;
    }
    .circle-area p{
        text-align: center;
        font-size: 13px;
    }
}

@media screen and (max-width : 768px) {
    .first-box ,.second-box{
        height: 150px;
    }
    .circle-area{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .circle-icon , .circle-icon-black{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #FFC409;
        color: #FFC409;
        font-size: 1em;
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .circle-icon-black{
        border: 3px solid #222;
        font-size: 1em;
        color: #222;
    }
    .circle-area p{
        font-size: 0.5em;
    }
    .StartUp-table{
        width: 350px;
    }
    .StartUp-table tr{
        /* border: 1px solid red; */
    }
    .StartUp-table td{
        /* border: 1px solid red; */
    }
    .StartUp-table th{
        /* display: inline-block; */
        /* border: 1px solid red; */
    }
    .StartUp-table input{
        width: 200px;
    }
    .StartUp-table textarea{
        width: 200px;
    }
}

@media screen and (max-width : 425px) {
    .first-box ,.second-box{
        height: 150px;
    }
    .circle-area{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .circle-icon , .circle-icon-black{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #FFC409;
        color: #FFC409;
        font-size: 1em;
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .circle-icon-black{
        border: 3px solid #222;
        font-size: 1em;
        color: #222;
    }
    .circle-area p{
        font-size: 0.5em;
    }
    .StartUp-table{
        width: 350px;
    }
    .StartUp-table tr{
        /* border: 1px solid red; */
    }
    .StartUp-table td{
        /* border: 1px solid red; */
    }
    .StartUp-table th{
        /* display: inline-block; */
        /* border: 1px solid red; */
    }
    .StartUp-table input{
        width: 200px;
    }
    .StartUp-table textarea{
        width: 200px;
    }
}
